node_modules
.DS_Store
dist
dist-ssr
*.local
frontend/dist
backend/temp/*
!backend/temp/.gitkeep
.env
.env.*
.vercel
.vscode
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache
node_modules/
.npm/
.yarn/
